.userpass{
    width:50%;
}
/* Disposition du champs Username */
.name{
    max-width: 26%;
    left : 25%
}

.pass{
    max-width: 26%;
    left:25%
}

.mail{
    max-width: 52%;
    left: 25%;
}
/* Disposition du champs Create Username */
.createname{
    max-width: 26%;
    left : 42%
}

.createpass{
    max-width: 26%;
    left:42%
}

.createmail{
    max-width: 52%;
    left: 42%;
}

.signin{
    margin-top:2%;
    background: #3e6ab1;
    border: #3e6ab1;

}

.logout:hover{
    color:white;
}

.logout{
    color:white;
}

.logoutbutton{
    margin-left: 48%;
    position: absolute;
    top: 95%;
}

.signin:hover{
    text-decoration: none;
    color:white;
    background: #3e6ab1;
    border: #3e6ab1;
}


.success{
    color: limegreen;
    font-size: 20px;
}

.error{
    color: red;
    font-size: 20px;
}

/* Disposition du lien "already registered?" */
.already {
margin-top: 5px;
}

.input-group {

    width: 120px;
    float: left;
}
/* probablement inutile */
.formform{
    display:block;
}